.table {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 3vh;
}

.table_theme_dark {
    width: 1102px;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}