@import url(/vedor/normalize.css);

.page {
    position: relative;
    width: 1440px;
    height: 7709px;
}


.header {
    position: absolute;
    top: 0%;
}

.logo {
    background: url(/images/logo_theme_light\ 1.svg);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    left: 48px;
    top: 12.31px;
    width: 183px;
    height: 32.82px;
    flex: none;
    order: 0;
    flex-grow: 0;
     }


