.footer__column-links {
    line-height: 18px;
    font-size: 18px;
    font-weight: normal;
    font-family: 'Inter', 'Arial', 'sans-serif';
    color: white;
    text-decoration: none;
    margin: 0 0 10px;
}